*{
    margin: 0;
    padding: 0;
}
h2{
    text-decoration: underline overline;
    color: slategray;
}
.chuck-jokes{
    width: 600px;
    margin: 0 auto;
    color: slategray;
    font-size: 18px;
    font-weight: bolder;
    background-color: black;
    padding-bottom: 20px;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height:100px;
    background-color: whitesmoke;
    border-radius: 20px;
}
.bg-music{
    top: -500px;
}

@media (max-width: 360px) {
    /* Probably some parent element that limits the img width */
    .chuck-jokes{
        width: 360px;
        margin: 0 auto;
        color: slategray;
        font-size: 18px;
        font-weight: bolder;
        background-color: black;
        padding-bottom: 20px;
    } 
    iframe{
        width: 200px;
        height: 200px;
    }
  }